<template name="loginForm">
    <div class=row>
        <div class="col-md-4 col-centered">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Login</strong>
                </div>
                <div class="panel-body">
                    <form role=form class="" action="#">

                        <div class=form-group>
                            <label for="username">Username</label>
                            <input id="name" class="form-control" name="username" type="text" placeholder="Your Username (or Email future)">
                        </div>
                        <!--div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" value="@gmail.com">
                        </div-->
                        <div class=form-group>
                            <label for="password">Password</label>
                            <input id="password" class="form-control" name="password" type="password" placeholder="Your Password">
                        </div>

                        <button type="button" id="signin" class="btn btn-default">Sign In</button>
                        <a href="/recover">forgot password?</a>
                        <a  id="signupl" href="/signup" class="" >Sign up</a>

                    </form>
                </div>
            </div>
        </div>
    </div>

</template>