<template name="notificationsT">
    <a href="#"><i class="glyphicon glyphicon-bell disp-notf"></i>{{userNotifications}}</a>
    <div id="notfPane" class="row" style="width:350px;padding :2px;background-color: #dbd7ff;display:none;position: absolute;top: 52px;right: 0px;">
        <div id="notific" class="" >
            {{#each notification}}
            <div class="col-md-12">
                <div class="panel-info">{{this}}</div>
            </div>
           {{/each}}
        </div>
    </div>
    
</template>